@using Common.Resources
@using MvcPaging
@model WebSetting.Models.SearchUserViewModel
@helper LabelForSort(string headerText, string fieldName, string sortField, string sortOrder)
{
    <a href="javascript:;" onclick="sortField('@fieldName');return false;">
        @headerText
        @if (fieldName.ToLower().Equals(sortField.ToLower()))
        {
            if (sortOrder.Equals("ASC"))
            {<i class="fa fa-sort-asc"></i>}
            else
            {<i class="fa fa-sort-desc"></i> }
        }
        else
        {<i class="fa fa-sort"></i>}
    </a>
}

@if (Model.UserList == null || Model.SearchFilter.TotalRecords == 0)
{
    string sortField = Model.SearchFilter.SortField;
    string sortOrder = Model.SearchFilter.SortOrder;

    <div class="table-responsive margin-top-10">
        <table class="table table-hover datatable">
            <thead>
                <tr>
                    <th class="center" style="width: 10% !important;">Action</th>
                    <th>Role Name</th>
                    <th style="width: 10% !important;">สถานะ</th>
                    <th style="width: 10% !important;">แก้ไขโดย</th>
                    <th style="width: 10% !important;">วันที่แก้ไข</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="center">@Resources.Msg_NoRecords</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    string sortField = Model.SearchFilter.SortField;
    string sortOrder = Model.SearchFilter.SortOrder;

    <div class="form-inline nopadding">
        <div class="form-group">
            @Html.Raw(Html.Pager(
                new Options
                {
                    PageSize = Model.SearchFilter.PageSize,
                    TotalItemCount = Model.SearchFilter.TotalRecords,
                    CurrentPage = Model.SearchFilter.PageNo,
                    ItemTexts = new ItemTexts
                    {
                        First = "<i class='fa fa-step-backward' style='font-size: 0.8em'></i>",
                        Previous = "<i class='fa fa-caret-left'></i>",
                        Next = "<i class='fa fa-caret-right'></i>",
                        Last = "<i class='fa fa-step-forward' style='font-size: 0.8em'></i>"
                    },
                    IsShowFirstLast = true,
                    CssClass = "pager",
                    IsShowInputPage = true
                },
                new { PageSize = ViewBag.PageSize }))
        </div>
        <div class="form-group">
            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "15", 15 }, { "30", 30 } }, "Key", "Value"), new { @class = "form-control input-xs", id = "pagesizelist" })
        </div>
        <div class="form-group text-nowrap margin-left-8">
            <strong>
                @MvcHtmlString.Create(string.Format(Resources.Lbl_Paging, @Model.SearchFilter.FirstPageIndex, @Model.SearchFilter.LastPageIndex, @Model.SearchFilter.TotalRecords))
            </strong>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="table-responsive margin-top-10">
        <table class="table table-hover datatable">
            <thead>
                <tr>
                    <th class="center" style="width: 80px !important;">Action</th>
                    <th>@LabelForSort("ชื่อเข้าระบบ", "Username", sortField, sortOrder)</th>
                    <th>@LabelForSort("ชื่อ สกุล", "FullName", sortField, sortOrder)</th>
                    <th>@LabelForSort("เพศ", "Gender", sortField, sortOrder)</th>
                    <th>@LabelForSort("หน่วยงาน", "OrganizeName", sortField, sortOrder)</th>
                    <th>@LabelForSort("แผนก", "DepartmentName", sortField, sortOrder)</th>
                    <th>@LabelForSort("ตำแหน่ง", "PositionName", sortField, sortOrder)</th>
                    <th>@LabelForSort("เวลาที่ใช้งานล่าสุด", "LastLoginTime", sortField, sortOrder)</th>
                    <th style="width: 100px;">สถานะ</th>
                    <th style="width: 100px;">แก้ไขโดย</th>
                    <th style="width: 200px;">วันที่แก้ไข</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserList)
                {
                    <tr>
                        <td class="center">
                            <a href='javascript:;' class="edit-active" title="edit" onclick='onEditClick(@item.UserId)'></a>
                        </td>
                        <td>@item.Username</td>
                        <td > @item.FullName </td>
                        <td class="center">
                            @item.GenderDisplay
                        </td>
                        <td>@item.OrganizeName</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.PositionName</td>
                        <td class="center">@item.LastLoginTimeDisplay</td>
                        <td class="center">@item.ActiveStatusDisplay</td>
                        <td class="center">@item.LastUpdateUserDisplay</td>
                        <td class="center">@item.LastUpdateDateDisplay</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
