@model WebSetting.Models.UserChangePsswdModel
@using Common.Utilities;
@using Common.Resources;
@{
    ViewBag.Title = Resources.Lbl_ChangePsswd;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = Model != null ? Html.Raw(Model.ErrorMessage) : null;
}

@section HeaderScript
{
    @Styles.Render("~/Content/login.css")
}

@section MainMenu
{
    @*@Html.Action("MainMenu", "MenuNavigator", new { selectedMenu = CSM.Entity.MenuCode.Customer })*@
}

@section Breadcrumb {
    <strong class="font-blue">@Resources.Lbl_User</strong>
    <strong class="font-green-jungle">&rsaquo;&rsaquo; @Resources.Lbl_ChangePsswd</strong>
}


@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", @id = "form1", @DefaultButton = "btnChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ForceChangePsswd, new { @id = "hddForceChangePsswd" })
    <div id="dvForm" class="form-box">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <p class="form-control-static text-primary">
                                ชื่อเข้าระบบ
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="inner-addon right-addon">
                                @Html.DisplayFor(model => model.UserName)
                                @Html.HiddenFor(model => model.UserName, new { @id = "hddUserName" })
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <p class="form-control-static text-primary" >
                                รหัสผ่านเดิม
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="inner-addon right-addon">
                                <i class="fa fa fa-lock"></i>
                                @Html.PasswordFor(u => u.OldPassword, new
                               {
                                   @id = "old-password",
                                   @class = "form-control ",
                                   @placeholder = "Enter Old Password Here",
                                   @maxlength = @Constants.MaxLength.Password
                               })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <p class="form-control-static text-primary">
                                รหัสผ่านใหม่
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="inner-addon right-addon">
                                <i class="fa fa fa-lock"></i>
                                @Html.PasswordFor(u => u.NewPassword, new
                                {
                                    @id = "new-password",
                                    @class = "form-control ",
                                    @placeholder = "Enter New Password Here",
                                    @maxlength = @Constants.MaxLength.Password
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <p class="form-control-static text-primary">
                                ยืนยันรหัสผ่านใหม่
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="inner-addon right-addon">
                                <i class="fa fa fa-lock"></i>
                                @Html.PasswordFor(u => u.ConfirmNewPassword, new
                           {
                               @id = "confirm-password",
                               @class = "form-control ",
                               @placeholder = "Enter Confirm New Password Here",
                               @maxlength = @Constants.MaxLength.Password
                           })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <button type="button" id="btnChangePassword" class="btn btn-blue btn-sm">เปลี่ยนรหัสผ่าน</button>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div id="dvTarget"></div>
    @Scripts.Render("~/Scripts/login.js")

    <script type="text/javascript">
        var pModel;
        var successModel;


        $jq(document).ready(function () {
            var errorMsg = '@errorMessage';

            if ($jq.trim(errorMsg) != '') {
                doModal('dvAlertMsg', 'Message Dialog', errorMsg, '', '');
            }

            initializeModel();

            $jq("#form1").keypress(function (e) {
                var kCode = e.keyCode || e.charCode; //for cross browser
                if (kCode == 13) {
                    var defaultbtn = $jq(this).attr("DefaultButton");
                    $jq("#" + defaultbtn).focus();
                    $jq("#" + defaultbtn).click();
                    return false;
                }
            });

            $jq("#btnChangePassword").click(function (e) {
                e.preventDefault();
                clearServerErrors();

                pModel.UserName = $jq("#hddUserName").val(),
                    pModel.OldPassword = $jq("#old-password").val(),
                    pModel.NewPassword = $jq("#new-password").val(),
                    pModel.ConfirmNewPassword = $jq("#confirm-password").val(),
                    pModel.ForceChangePsswd = $jq("#hddForceChangePsswd").val();

                if (pModel.OldPassword == "") {
                    var warningMsg = '@Resources.Msg_EnteredOldPassword';
                    doModal('dvAlertMsg', 'Message Dialog', warningMsg, '', '');
                    $jq("#old-password").focus();
                    return false;
                }

                if (pModel.NewPassword == "") {
                    var warningMsg = '@Resources.Msg_EnteredNewPassword';
                    doModal('dvAlertMsg', 'Message Dialog', warningMsg, '', '');
                    $jq("#new-password").focus();
                    return false;
                }

                if (pModel.NewPassword != pModel.ConfirmNewPassword) {
                    var warningMsg = '@Resources.Msg_InvalidConfirmPassword';
                    doModal('dvAlertMsg', 'Message Dialog', warningMsg, '', '');
                    return false;
                }



                $jq.ajax({
                    url: '@Url.Action("ChangePassword", "User")',
                    type: "POST",
                    data: addAntiForgeryToken(pModel),
                    beforeSend: function () { $jq("#dvLoading").show(); },
                    complete: function () { $jq("#dvLoading").hide(); },
                    success: function (result) {
                        if (result.Valid == null) {
                            doModal('dvAlertMsg', 'Change Password Success', 'เปลี่ยนรหัสผ่านสำเร็จ กรุณาเข้าสู่ระบบอีกครั้งด้วยรหัสผ่านใหม่', 'Logout()', 'OK');

                        } else {
                            showServerErrors(result);
                        }
                    },
                    error: function (xhr) {
                        var handleMsg = '@Common.Resources.Resources.Error_System';
                        ajaxErrorHandling(xhr, handleMsg, '@FormsAuthentication.LoginUrl', '@Url.Action("AccessDenied", "User")');
                    }

                    //$jq("#form1").submit();
                });
            });
        });

        function Logout() {
            var actionUrl = '@Url.Action("Logout", "User")';

            $jq('#dvTarget').html('');
            var inputToken = $jq("<input>").attr("type", "hidden").attr("name", "__RequestVerificationToken").val(getAntiForgeryToken());
            $jq('#dvTarget').append('<form action="' + actionUrl + '" method="POST" class="hidden" ></form>');
            $jq('#dvTarget form').append($jq(inputToken));
            $jq('#dvTarget form').submit();
        }

        function initializeModel() {
            pModel = {
                UserName: $jq("#hddUserName").val(),
                OldPassword: $jq("#old-password").val(),
                NewPassword: $jq("#new-password").val(),
                ConfirmNewPassword: $jq("#confirm-password").val(),
                ForceChangePsswd: $jq("#hddForceChangePsswd").val()
            };

            successModel = pModel;
        }
    </script>
}
