@using Common.Utilities
@model WebSetting.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
    var errorMessage = Model != null ? Html.Raw(Model.ErrorMessage) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/bootstrap/base")*@
    @Styles.Render("~/css/bootstrap.min.css")

    @Styles.Render("~/css/font-awesome.min.css")
    @Styles.Render("~/css/login.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/js/html5shiv.js")
        @Scripts.Render("~/js/respond.min.js")
    <![endif]-->
</head>
<body>
    <div id="logo"></div>
    <div class="container">
        @{
            ViewContext.ClientValidationEnabled = false;
            using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal", @id = "frmLogin", @DefaultButton = "btn-login" }))
            {
                @Html.AntiForgeryToken()
                <div class="login-panel">
                    <div class="login-form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="inner-addon right-addon">
                                    <i class="fa fa fa-user"></i>
                                    @Html.TextBoxFor(u => u.UserName, new
                               {
                                   @id = "login-username",
                                   @class = "form-control",
                                   @placeholder = "Username",
                                   @maxlength = @Constants.MaxLength.Username
                               })
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="inner-addon right-addon">
                                    <i class="fa fa fa-lock"></i>
                                    @Html.PasswordFor(u => u.Password, new
                                    {
                                   @id = "login-password",
                                   @class = "form-control ",
                                   @placeholder = "Password",
                                   @maxlength = @Constants.MaxLength.Password
                                    })
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" id="btn-login" class="btn btn-blue btn-sm">เข้าสู่ระบบ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            }
        }
    </div>
    <div id="dvAlertMsg"></div>
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/jquery.form.min.js")
    @Scripts.Render("~/js/bootstrap.min.js")
    @Scripts.Render("~/js/login.js")
    <script type="text/javascript">
        $jq(document).ready(function () {
            var errorMsg = '@errorMessage';

            if ($jq.trim(errorMsg) != '') {
                doModal('dvAlertMsg', 'Message Dialog', errorMsg, '', '');
            }

            $jq("#frmLogin").keypress(function (e) {
                var kCode = e.keyCode || e.charCode; //for cross browser
                if (kCode == 13) {
                    var defaultbtn = $jq(this).attr("DefaultButton");
                    $jq("#" + defaultbtn).click();
                    return false;
                }
            });

            $jq("#login-username").focus();
        });
    </script>
</body>
</html>
