@using Common.Resources
@using Common.Utilities
@model WebSetting.Models.UserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderScript
{

}

@section MainMenu
{
    @Html.Action("MainMenu", "MenuNavigator")
}

@section Breadcrumb
{
    <strong class="font-blue">@Resources.Title_Master</strong>
    <strong class="font-green-jungle">&rsaquo;&rsaquo; @Resources.Title_User</strong>
}

@using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { @class = "form-horizontal", @id = "form1" }))
{
<div class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h5 class="form-title">@ViewBag.Title</h5>
    <hr class="dotted-line" />

    @Html.HiddenFor(model => model.UserId, new { @id = "hddUserId" })
    <div class="bs-example margin-top-15">
        <h5 class="form-title">User Information</h5>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_PrefixName <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.PrefixId, Model.PrefixNameSelectList, Resources.Ddl_PleaseSelect,
                            new { @class = "form-control input-sm", @id = "ddlPrefixName" })
                            @Html.ValidationMessageFor(model => model.PrefixId)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_FirstName <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm", @id = "txtFirstName", @maxlength = Constants.MaxLength.FirstName })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_LastName <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm", @id = "txtLastName", @maxlength = Constants.MaxLength.LastName })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_Gender <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(model => model.Gender, Constants.PersonalGender.Male)
                            <label>ชาย</label>
                            @Html.RadioButtonFor(model => model.Gender, Constants.PersonalGender.Female)
                            <label>หญิง</label>
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_OrgName
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OrganizeName, new { @class = "form-control input-sm", @id = "txtOrganizeName", @maxlength = Constants.MaxLength.OrganizeName })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_DepartmentName
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control input-sm", @id = "txtDepartmentName", @maxlength = Constants.MaxLength.DepartmentName })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_PositionName
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.PositionName, new { @class = "form-control input-sm", @id = "txtPositionName", @maxlength = Constants.MaxLength.PositionName })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="margin-bottom:0px">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_LastLoginTime
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="form-control input-sm static-view">
                                @Html.DisplayFor(model => model.LastLoginTimeDisplay)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">

                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.CheckBoxFor(model => model.ForceChangePsswd, new { @id = "chkForceChangePsswd" }) &nbsp;@Resources.Lbl_ForceChangePwdNextLogin
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_Status <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.CheckBoxFor(model => model.ActiveStatus, new { @id = "chkActiveStatus" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="dotted-line" />
    </div>
    <div class="clearfix"></div>

    <div class="bs-example ">
        <h5 class="form-title">Login Information</h5>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static">
                                @Resources.Lbl_Username <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @if (Model.UserId == 0)
                            {
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control input-sm", @id = "txtUserName", @maxlength = Constants.MaxLength.Username })
                                @Html.ValidationMessageFor(model => model.Username)
                            }
                            else
                            {
                                <p class="form-control input-sm static-view">
                                    @Html.DisplayFor(model => model.Username)
                                    @Html.HiddenFor(model => model.Username, new { @id = "hddUserName" })
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static text-primary">
                                @Resources.Lbl_Password <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.Psswd, new
                            {
                                @id = "txtPassword",
                                @class = "form-control  input-sm",
                                @maxlength = @Constants.MaxLength.Password
                            })
                            @Html.ValidationMessageFor(model => model.Psswd)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <p class="form-control-static text-primary">
                                @Resources.Lbl_ConfirmPasswd <span class="require">*</span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.ConfirmPsswd, new
                           {
                               @id = "txtConfirmPassword",
                               @class = "form-control  input-sm",
                               @maxlength = @Constants.MaxLength.Password
                           })
                            @Html.ValidationMessageFor(model => model.ConfirmPsswd)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6 text-right">
                            <button id="btnSave" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                            <span id="btnBack" class="btn btn-sm btn-default"><i class="fa fa-times"></i> Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section FooterScript
{
    <script type="text/javascript">
        var userData;

        $jq(document).ready(function () {
            $jq('#btnBack').click(onBtnBackClick);
            //$jq('#btnSave').click(onBtnSaveClick);
        });

        function onBtnBackClick(event) {
            event.preventDefault();
            var msg = 'ต้องการยกเลิกการบันทึกข้อมูลใช่หรือไม่?';
            if ($jq.trim(msg) != '') {
                doModal('dvAlertMsg', 'Message Dialog', msg, 'closeMasterUserForm()', 'Confirm');
            }
            return false;
        }

        function closeMasterUserForm() {
            location.replace('@Url.Action("SearchUser", "User")');
        }

        
    </script>
}
