@using Common.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/bootstrap/base")*@
    @Styles.Render("~/css/bootstrap.min.css")
    @Styles.Render("~/css/themes/base/jquery-ui.css")
    @Styles.Render("~/css/themes/base/jquery.ui.theme.css")

    @Styles.Render("~/css/bootstrap-datepicker.min.css")
    @*@Styles.Render("~/Content/font-awesome")*@
    @Styles.Render("~/css/font-awesome.min.css")
    @*@Styles.Render("~/Content/select2")
    @Styles.Render("~/css/summernote.css")*@
    @Styles.Render("~/css/structure.css")

    @Styles.Render("~/css/style.css")
    @Styles.Render("~/css/themes.css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @*@Scripts.Render("~/js/jquery-ui/jquery.ui.core.min.js")
    @Scripts.Render("~/js/jquery-ui/jquery.ui.widget.min.js")
    @Scripts.Render("~/js/jquery-ui/jquery.ui.mouse.min.js")
    @Scripts.Render("~/js/jquery-ui/jquery.ui.resizable.min.js")
    @Scripts.Render("~/js/jquery-ui/jquery.ui.sortable.min.js")*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/js/html5shiv.js")
        @Scripts.Render("~/js/respond.min.js")
    <![endif]-->

    @RenderSection("HeaderScript",required: false)

</head>
<body>
    <div id="header">
        @if (IsSectionDefined("MainMenu"))
        {
            @RenderSection("MainMenu")
        }
        <div class="clear"></div>
        <hr class="solid-line" />
    </div>
    
        
    <div id="content">
        <div class="content-panel">
            <div class="container-fluid">
                <div class="nav-panel">
                    <div class="pull-left">
                        @RenderSection("Breadcrumb", required: false)
                    </div>
                </div>
                <div class="clear"></div>

                @RenderBody()
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- Footer -->
        <div id="footer">
            
        </div>
    </div>
    <div id="dvLoading" class="ajax-loader"></div>
    <div id="dvAlertMsg"></div>
    @{ Html.RenderPartial("_Antiforgery");  }
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js/select2.min.js")
    @Scripts.Render("~/js/Select2-locales/select2_locale_th.js")
    @Scripts.Render("~/js/summernote.min.js")
    @if (ViewBag.ShowThaiBuddhistCalendar == null)
    {
        @Scripts.Render("~/js/bootstrap-datepicker.min.js")
        @Scripts.Render("~/js/locales/bootstrap-datepicker.th.min.js")
    }
    @Scripts.Render("~/js/tableHeadFixer.js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("FooterScript", required: false)
</body>
</html>
