@using Common.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/bootstrap/base")*@
    @Styles.Render("~/css/bootstrap.min.css")
    <!-- Bootstrap responsive -->
    @Styles.Render("~/css/bootstrap-responsive.min.css")

    <!-- jQuery UI -->
    @Styles.Render("~/css/plugins/jquery-ui/smoothness/jquery-ui.css")
    @Styles.Render("~/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css")

    @Styles.Render("~/css/style.css")
    @Styles.Render("~/css/themes.css")

    <!-- jQuery -->
    @Scripts.Render("~/js/jquery.min.js")
    @Scripts.Render("~/js/plugins/jquery-ui/jquery.ui.core.min.js")
    @Scripts.Render("~/js/plugins/jquery-ui/jquery.ui.widget.min.js")
    @Scripts.Render("~/js/plugins/jquery-ui/jquery.ui.mouse.min.js")
    @Scripts.Render("~/js/plugins/jquery-ui/jquery.ui.resizable.min.js")
    @Scripts.Render("~/js/plugins/jquery-ui/jquery.ui.sortable.min.js")

    @Scripts.Render("~/js/bootstrap.min.js")
    @Scripts.Render("~/js/application.min.js")
    @Scripts.Render("~/js/demonstration.min.js")
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/js/html5shiv.js")
        @Scripts.Render("~/js/respond.min.js")
    <![endif]-->

    @RenderSection("HeaderScript",required: false)

</head>
<body>
    @if (IsSectionDefined("MainMenu"))
    {
        @RenderSection("MainMenu")
    }
        
    <div class="container-fluid nav-hidden" id="content">
        <div id="main">
            <div class="container-fluid">
                <div class="nav-panel">
                    <div class="pull-left">
                        @RenderSection("Breadcrumb", required: false)
                    </div>
                </div>
                <div class="clear"></div>

                @RenderBody()
            </div>

            <div class="clearfix"></div>

            <!-- Footer -->
            <div id="footer">
                @*@Html.Raw(ApplicationHelpers.GetCopyright())&nbsp;@ApplicationHelpers.GetDisplayDllLastUpdatedDate()*@
            </div>
        </div>
    </div>
    <div id="dvLoading" class="ajax-loader"></div>
    <div id="dvAlertMsg"></div>
    @{ Html.RenderPartial("_Antiforgery");  }
    <!-- /#wrapper -->
    @*@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/Select2-locales/select2_locale_th.js")
    @Scripts.Render("~/Scripts/summernote.min.js")
    @if (ViewBag.ShowThaiBuddhistCalendar == null)
    {
        @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
        @Scripts.Render("~/Scripts/locales/bootstrap-datepicker.th.min.js")
    }
    @Scripts.Render("~/Scripts/tableHeadFixer.js")
    @Scripts.Render("~/bundles/jqueryval")*@

    <script>
        //var $jq = jQuery.noConflict();

        function doModal(placementId, heading, formContent, strSubmitFunc, btnText) {
            hideModal(placementId);

            var html = '<div id="modalWindow" class="modal fade" data-backdrop="static" data-keyboard="false">';
            html += '<div class="modal-dialog">';
            html += '<div class="modal-content">';
            html += '<div class="modal-header">';
            html += '<a class="close" data-dismiss="modal">×</a>';
            html += '<h4>' + heading + '</h4>';
            html += '</div>';
            html += '<div class="modal-body">';
            html += '<p>';
            html += formContent;
            html += '</p>';
            html += '</div>';
            html += '<div class="modal-footer">';
            if (btnText != '') {
                html += '<span class="btn btn-blue btn-xsmall btn-sm"';
                html += ' onClick="' + strSubmitFunc + '">' + btnText;
                html += '</span>';
            }
            html += '<span class="btn btn-gray btn-xsmall btn-sm" data-dismiss="modal">';
            html += btnText != '' ? 'Cancel' : 'Close';
            html += '</span>'; // close button
            html += '</div>';  // content
            html += '</div>';  // dialog
            html += '</div>';  // footer
            html += '</div>';  // modalWindow
            $("#" + placementId).html(html);
            $("#modalWindow").modal('show');
        }

        function hideModal(placementId) {
            // Using a very general selector - this is because $('#modalDiv').hide
            // will remove the modal window but not the mask
            $('#' + placementId).modal('hide');
            $('.modal-backdrop').remove();
        }

        function logout() {
            document.getElementById('logoutForm').submit();
        }
    </script>

    @RenderSection("masterjs", required: false)
</body>
</html>
