@using Common.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CSM - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/bootstrap-datepicker.min.css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/summernote.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/Scripts/html5shiv.js")
        @Scripts.Render("~/Scripts/respond.min.js")
    <![endif]-->

    @RenderSection("HeaderScript",required: false)


    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div id="header">
        @if (IsSectionDefined("MainMenu"))
        {
            @RenderSection("MainMenu")
        }
        <div class="clear"></div>
        <hr class="solid-line" />
    </div>

    <div id="content">
        <div class="content-panel">
            <div class="container-fluid">
                <div class="nav-panel">
                    <div class="pull-left">
                        @RenderSection("Breadcrumb", required: false)
                    </div>
                </div>
                <div class="clear"></div>

                @RenderBody()
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- Footer -->
        <div id="footer">
            @*@Html.Raw(ApplicationHelpers.GetCopyright())&nbsp;@ApplicationHelpers.GetDisplayDllLastUpdatedDate()*@
        </div>
    </div>
    
    <div id="dvLoading" class="ajax-loader"></div>
    <div id="dvAlertMsg"></div>
    <div id="viewCallInfo" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1"
         role="dialog" data-url='@Url.Action("ViewCallInfo", "IVR")'>
        <div id='callInfoContainer'>
        </div>
    </div>
    @{ Html.RenderPartial("_Antiforgery");  }
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/Select2-locales/select2_locale_th.js")
    @Scripts.Render("~/Scripts/summernote.min.js")
    @if (ViewBag.ShowThaiBuddhistCalendar == null)
    {
        @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
        @Scripts.Render("~/Scripts/locales/bootstrap-datepicker.th.min.js")
    }
    @Scripts.Render("~/Scripts/tableHeadFixer.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sr")
    @RenderSection("masterjs", required: false)
</body>
</html>
