@using Common.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/bootstrap/base")*@
    @Styles.Render("~/css/bootstrap.min.css")
    <!-- Bootstrap responsive -->
    @Styles.Render("~/css/bootstrap-responsive.min.css")

    <!-- jQuery UI -->
    @Styles.Render("~/css/plugins/jquery-ui/smoothness/jquery-ui.css")
    @Styles.Render("~/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css")

    @Styles.Render("~/css/style.css")
    @Styles.Render("~/css/themes.css")

    <!-- jQuery -->
    @Scripts.Render("~/js/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery.ui.core.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery.ui.widget.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery.ui.mouse.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery.ui.resizable.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery.ui.sortable.min.js")

    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/application.min.js")
    @Scripts.Render("~/Scripts/demonstration.min.js")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/Scripts/html5shiv.js")
        @Scripts.Render("~/Scripts/respond.min.js")
    <![endif]-->

    @RenderSection("HeaderScript",required: false)

</head>
<body>
    <div id="header">
        @if (IsSectionDefined("MainMenu"))
        {
            @RenderSection("MainMenu")
        }
        <div class="clear"></div>
        <hr class="solid-line" />
    </div>

    <div id="content">
        <div class="content-panel">
            <div class="container-fluid">
                <div class="nav-panel">
                    <div class="pull-left">
                        @RenderSection("Breadcrumb", required: false)
                    </div>
                </div>
                <div class="clear"></div>

                @RenderBody()
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- Footer -->
        <div id="footer">
            @*@Html.Raw(ApplicationHelpers.GetCopyright())&nbsp;@ApplicationHelpers.GetDisplayDllLastUpdatedDate()*@
        </div>
    </div>
    
    <div id="dvLoading" class="ajax-loader"></div>
    <div id="dvAlertMsg"></div>
    <div id="viewCallInfo" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1"
         role="dialog" data-url='@Url.Action("ViewCallInfo", "IVR")'>
        <div id='callInfoContainer'>
        </div>
    </div>
    @{ Html.RenderPartial("_Antiforgery");  }
    <!-- /#wrapper -->
    @*@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/Select2-locales/select2_locale_th.js")
    @Scripts.Render("~/Scripts/summernote.min.js")
    @if (ViewBag.ShowThaiBuddhistCalendar == null)
    {
        @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
        @Scripts.Render("~/Scripts/locales/bootstrap-datepicker.th.min.js")
    }
    @Scripts.Render("~/Scripts/tableHeadFixer.js")
    @Scripts.Render("~/bundles/jqueryval")*@

    @RenderSection("masterjs", required: false)
</body>
</html>
